//----------------------------------------------------------------------
//	BASE
//	Document
//----------------------------------------------------------------------

html {
	height: 100%;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #fff;
	color: $dark-grey;
	font-family: $base-font;
	font-size: 100%; /* 16px */
	height: 100%;
	line-height: $doc-line-height;
}




//	Selection
//-----------------------------------

::-moz-selection {
	background-color: rgba($dark-grey, 0.8);
	color: #fff;
	text-shadow: none;
}

::selection {
	background-color: rgba($dark-grey, 0.8);
	color: #fff;
	text-shadow: none;
}