//----------------------------------------------------------------------
//	COMPONENTS
//	Lists
//----------------------------------------------------------------------

//	Inline
//-----------------------------------

.list-inline {
	font-size: 0;
}
.list-inline > li {
	display: inline-block;
	font-size: 1rem; /* 16px */
}