//----------------------------------------------------------------------
//	Components
//	Containers
//----------------------------------------------------------------------

//	Body
//-----------------------------------

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}



//	Content
//-----------------------------------

.site-main {
	flex: 1;
}