//----------------------------------------------------------------------
//	COMPONENTS
//	Embed
//----------------------------------------------------------------------

//	Container
//-----------------------------------

.component-embed {
	background-color: $light-grey;
	height: 60vh;
	overflow: auto;
}
