//----------------------------------------------------------------------
//	SETTINGS
//	Global
//----------------------------------------------------------------------

//	Typography
//-----------------------------------

//	Type baseline
$doc-font-size: 16; /* 16px */
$doc-line-height: 1.25; /* 20px */

//	Font stacks
$base-font: Arial, Helvetica, sans-serif;




//	Animation
//-----------------------------------

//	Transition
$duration: 150ms;
$easing: ease-out;




//	Colors/Themes
//-----------------------------------

$dark-grey: #333;




//	Responsive
//-----------------------------------

//	Breakpoints (in px)
$lap: 600;
$desk: 900;
