//----------------------------------------------------------------------
//	MASTER
//
//----------------------------------------------------------------------

//	Settings
//-----------------------------------

@import "settings.global";




//	Tools
//-----------------------------------

@import "tools.mixins";




//	Generic
//-----------------------------------

@import "generic.reset";
@import "generic.box-sizing";




//	Base
//-----------------------------------

@import "base.document";




//	Components
//-----------------------------------

@import "components.component";
@import "components.containers";
@import "components.links";
@import "components.lists";
@import "components.navigation";
@import "components.site-header";
@import "components.site-footer";
@import "components.text";
@import "components.syntax";




//	Plugin components
//-----------------------------------

@import "components.accordion";
@import "components.bypasslinks";
@import "components.offcanvas";
@import "components.tabs";
@import "components.tooltip";




//	Utility
//-----------------------------------

@import "utilities.generic";