/* Container */
.fr-accordion {
}

/* Accordion header */
.fr-accordion--is-ready .fr-accordion__header {
	cursor: pointer;
}

/* Accordion panel */
.fr-accordion__panel[aria-hidden="true"] {
	display: none;
	/*height: 0;
	overflow: hidden;
	transition: height 250ms ease-out;*/
}