---
layout: default
title: A collection of accessible, modern front-end components.
---
<div class="wrapper">
	<h1 class="text-large">Frend</h1>
	<p>A collection of accessible, modern front-end components.</p>
	<p>Frend components are modest and dependency-free. They are built with web standards as a priority and aim to avoid assumptions about tooling or environment. Care has been taken to make sure each component is compliant, keyboard navigable and properly interpreted by assistive technologies. <a href="/about">Read more about Frend</a></p>
	<h2 class="text-hidden">Components</h2>
	<ul class="list-components">
		{% assign components = site.components | sort: 'title'  %}
		{% for component in components %}
		{% if component.alpha != true %}
        {% include listed-component.html %}
        {% endif %}
        {% endfor %}
	</ul>
</div>