//----------------------------------------------------------------------
//	GENERIC
//	Box-sizing
//----------------------------------------------------------------------

*,
*::after,
*::before {
	box-sizing: border-box;
}