//----------------------------------------------------------------------
//	COMPONENTS
//	Lists
//----------------------------------------------------------------------

//	Text
//-----------------------------------

ul:not([class]) a,
p a,
.text-link {
	color: $dark-grey;
	text-decoration: none;
	transition: color $duration $easing;
	@include underline($dark-grey, $blue, 1.05em, 2px);
}
ul:not([class]) a:hover,
ul:not([class]) a:focus,
p a:hover,
p a:focus,
.text-link:hover,
.text-link:focus {
	color: $red;
	@include underline($red, $blue, 1.05em, 2px);
}


//	Default
//-----------------------------------
.link-standard {
	color: $dark-grey;
	text-decoration: none;
	transition: color $duration $easing;
	@include underline($dark-grey, $blue, 1.1em, 2px);
}
.link-standard:hover,
.link-standard:focus {
	color: $red;
	@include underline($red, $blue, 1.1em, 2px);
}