//----------------------------------------------------------------------
//	COMPONENTS
//	Containers
//----------------------------------------------------------------------

//	Container
//-----------------------------------

.site-header {
}


//	Logo
//-----------------------------------

.site-header__logo {
	@extend h2;
	background-color: $red;
	color: #fff;
	display: inline-block;
	min-width: 4.25rem; /* 68px */
	padding: 1rem 1.25rem; /* 16px 20px */
	position: absolute;
	text-decoration: none;
	transition: background-color $duration $easing;
	z-index: 1;
	.wf-active & {
		font-family: $web-font-sans;
		letter-spacing: 0; /* reset */
	}
}
.site-header__logo:hover,
.site-header__logo:focus {
	background-color: $dark-grey;
}