//----------------------------------------------------------------------
//	Components
//	Containers
//----------------------------------------------------------------------

//	Body
//-----------------------------------

.site {
	display: flex;
	flex-direction: column;
	height: 100%;
}



//	Content
//-----------------------------------

.site-main {
	flex: 1 0 auto;
	padding-bottom: 3.5em;
}



//	Wrapper
//-----------------------------------

.wrapper {
	margin: 0 auto;
	max-width: 37.5em; /* 600px */
	padding: 0 1.25em; /* 20px */
	width: 100%;

	@include mq($lap) {
		max-width: 80%;
	}
	@include mq($desk) {
		max-width: 42.5em; /* 680px */
	}
}




//	Page content header/footer
//-----------------------------------

.content-header {
	margin: 4.5em 0 2.5em;

	@include mq($lap - 1, max) {
		margin-top: 6em;
	}
}
.content-footer {
	margin: 3.5em 0;
}