//----------------------------------------------------------------------
//	Components
//	Containers
//----------------------------------------------------------------------

//	Body
//-----------------------------------

.site {
	display: flex;
	flex-direction: column;
	height: 100%;
}



//	Content
//-----------------------------------

.site-main {
	flex: 1 0 auto;
}



//	Wrapper
//-----------------------------------

.wrapper {
	margin: 0 auto;
	max-width: 50em; /* 800px */
	padding: 0 1.25em; /* 20px */
	width: 100%;
}