//----------------------------------------------------------------------
//	COMPONENTS
//	Tooltip
//----------------------------------------------------------------------

//	Tooltip
//-----------------------------------

//	Toggle
.fr-tooltip-toggle {
	cursor: help;
	text-decoration: underline;
}

//	Tooltip
.fr-tooltip .js-fr-tooltip-tooltip {
	background-color: $yellow;
	border-radius: 0.25em; /* 4px */
	left: 50%;
	min-width: 260px;
	opacity: 0;
	padding: 5px 10px;
	text-align: center;
	transform: translateX(-50%) translateY(0);
	visibility: hidden;
}
.fr-tooltip--is-ready .js-fr-tooltip-tooltip {
	transition: visibility $duration $easing, opacity $duration $easing, transform $duration $easing;
}
.fr-tooltip .js-fr-tooltip-tooltip::after {
	border: solid transparent;
	border-color: transparent;
	border-top-color: $yellow;
	border-width: 8px;
	bottom: -16px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -8px;
	pointer-events: none;
	position: absolute;
	width: 0;
}
.fr-tooltip--is-ready .js-fr-tooltip-tooltip[aria-hidden="false"] {
	opacity: 1;
	transform: translateX(-50%) translateY(-12px);
}