//----------------------------------------------------------------------
//	COMPONENTS
//	Embed
//----------------------------------------------------------------------

//	Source
//-----------------------------------

.component-embed {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	flex-direction: column;
	height: 60vh;
	justify-content: center;
	overflow: auto;
	padding: 10%;
	position: relative;
}




//	Embed
//-----------------------------------

.component-source {
	font-size: 14px;
	tab-size: 4;
	margin-bottom: 20px;
}




//	Code
//-----------------------------------

code {
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 85%;
	padding: 0.25rem; /* 4px */
	position: relative;
	margin: -0.25rem 0 0 0; /* -4px */
}