//----------------------------------------------------------------------
//	COMPONENTS
//	Containers
//----------------------------------------------------------------------

//	Container
//-----------------------------------

.site-header {
	text-align: center;
}



//	Logo
//-----------------------------------

.site-header__logo {
	color: $dark-grey;
	display: inline-block;
	font-family: 'Montserrat';
	font-size: 1.25em; /* 20px */
	line-height: 1; /* 20px */
	text-decoration: none;
	padding: 1em; /* 20px */
}