//----------------------------------------------------------------------
//	Components
//	Containers
//----------------------------------------------------------------------

//	Body
//-----------------------------------

.site {
	display: flex;
	flex-direction: column;
	height: 100%;
}



//	Content
//-----------------------------------

.site-main {
	flex: 1 0 auto;
}