//----------------------------------------------------------------------
//	COMPONENTS
//	Embed
//----------------------------------------------------------------------

//	Source
//-----------------------------------

.component-embed {
	background-color: rgba(255, 255, 255, 0.5);
	height: 65vh;
	max-height: 50rem; /* 800px */
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20% 0;
	position: relative;

	@include mq($lap) {
		padding: 8% 0;
	}
}
.component-embed__inner {
	@extend .wrapper;
}




//	Embed
//-----------------------------------

.component-source {
	font-size: 14px;
	tab-size: 4;
	margin-bottom: 20px;
}




//	Code
//-----------------------------------

pre {
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 1em; /* 16px */
	line-height: 1.4; /* 21px */
	margin: 1.5rem 0 2.25rem -1.25rem; /* 24px 0 36px -20px */
	padding: 1rem; /* 4px */
	position: relative;
	width: calc(100% + 2.5rem);
	@include mq($desk) {
		font-size: 1.125em; /* 18px */
		margin-bottom: 2.75rem; /* 44px */
	}
}
p code {
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 85%;
	padding: 0.25rem; /* 4px */
	position: relative;
	margin: -0.25rem 0 0 0; /* -4px */
}