//----------------------------------------------------------------------
//	COMPONENTS
//	Containers
//----------------------------------------------------------------------

//	Container
//-----------------------------------

.site-header {
}
// sorry, Tom
.site-footer {
	@extend .wrapper;
	margin-bottom: 2.5em;
}



//	Logo
//-----------------------------------

.site-header__logo {
	@extend h2;
	background-color: $red;
	color: #fff;
	display: inline-block;
	min-width: 4.25rem; /* 68px */
	text-decoration: none;
	padding: 1rem 1.25rem; /* 16px 20px */
	position: absolute;
	z-index: 1;
	.wf-active & {
		font-family: $web-font-sans;
		letter-spacing: 0; /* reset */
	}
}