//----------------------------------------------------------------------
//	COMPONENTS
//	Grid
//----------------------------------------------------------------------

//	Wrapper
//-----------------------------------

.wrapper {
	margin: 0 auto;
	max-width: 50em; /* 800px */
	padding: 0 1.25em; /* 0 20px */
	position: relative;
	width: 100%;
}




//	Grid
//-----------------------------------

.grid {
	@extend %clearfix;
	font-size: 0;
	margin-left: -#{$gutter-width}rem;
}

//	modifiers
.grid--align-center {
	text-align: center;
}
.grid--align-right {
	text-align: right;
}
.grid--no-gutter {
	margin-left: 0;
}




//	Columns
//-----------------------------------

.grid__col {
	display: inline-block;
	font-size: 1rem; /* 16px */
	padding-left: #{$gutter-width}em;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

//	modifiers
.grid--align-middle .grid__col {
	vertical-align: middle;
}
.grid--align-bottom .grid__col {
	vertical-align: bottom;
}
.grid--no-gutter .grid__col {
	padding-left: 0;
}




//	Palm
//-----------------------------------

.col-palm--1-2 {
	width: 50%;
}




//	Lap
//-----------------------------------

@include mq($lap) {

	//	Columns
	.col-lap--1-12 {
		width: 8.333334%;
	}
	.col-lap--1-6 {
		width: 16.666667%;
	}
	.col-lap--1-4 {
		width: 25%;
	}
	.col-lap--1-3 {
		width: 33.333334%;
	}
	.col-lap--5-12 {
		width: 41.666667%;
	}
	.col-lap--1-2 {
		width: 50%;
	}
	.col-lap--7-12 {
		width: 58.333334%;
	}
	.col-lap--2-3 {
		width: 66.666667%;
	}
	.col-lap--3-4 {
		width: 75%;
	}
	.col-lap--5-6 {
		width: 83.333334%;
	}
	.col-lap--11-12 {
		width: 91.666667%;
	}
	.col-lap--full {
		width: 100%;
	}


	//	Offsets
	.push-lap--1-12 {
		margin-left: 8.333334%;
	}
	.push-lap--1-6 {
		margin-left: 16.666667%;
	}
	.push-lap--1-4 {
		margin-left: 25%;
	}
	.push-lap--1-3 {
		margin-left: 33.333334%;
	}
	.push-lap--5-12 {
		margin-left: 41.666667%;
	}
	.push-lap--1-2 {
		margin-left: 50%;
	}
	.push-lap--7-12 {
		margin-left: 58.333334%;
	}
	.push-lap--2-3 {
		margin-left: 66.666667%;
	}
	.push-lap--3-4 {
		margin-left: 75%;
	}
	.push-lap--5-6 {
		margin-left: 83.333334%;
	}
	.push-lap--11-12 {
		margin-left: 91.666667%;
	}
}




//	Desk
//-----------------------------------

@include mq($desk) {

	//	Columns
	.col-desk--1-12 {
		width: 8.333334%;
	}
	.col-desk--1-8 {
		width: 12.5%;
	}
	.col-desk--1-6 {
		width: 16.666667%;
	}
	.col-desk--1-5 {
		width: 20%;
	}
	.col-desk--1-4 {
		width: 25%;
	}
	.col-desk--1-3 {
		width: 33.333334%;
	}
	.col-desk--4-10 {
		width: 40%;
	}
	.col-desk--5-12 {
		width: 41.666667%;
	}
	.col-desk--1-2 {
		width: 50%;
	}
	.col-desk--7-12 {
		width: 58.333334%;
	}
	.col-desk--6-10 {
		width: 60%;
	}
	.col-desk--2-3 {
		width: 66.666667%;
	}
	.col-desk--3-4 {
		width: 75%;
	}
	.col-desk--4-5 {
		width: 80%;
	}
	.col-desk--5-6 {
		width: 83.333334%;
	}
	.col-desk--7-8 {
		width: 87.5%;
	}
	.col-desk--11-12 {
		width: 91.666667%;
	}
	.col-desk--full {
		width: 100%;
	}


	//	Offsets
	.push-desk--1-12 {
		margin-left: 8.333334%;
	}
	.push-desk--1-6 {
		margin-left: 16.666667%;
	}
	.push-desk--1-4 {
		margin-left: 25%;
	}
	.push-desk--1-3 {
		margin-left: 33.333334%;
	}
	.push-desk--5-12 {
		margin-left: 41.666667%;
	}
	.push-desk--1-2 {
		margin-left: 50%;
	}
	.push-desk--7-12 {
		margin-left: 58.333334%;
	}
	.push-desk--2-3 {
		margin-left: 66.666667%;
	}
	.push-desk--3-4 {
		margin-left: 75%;
	}
	.push-desk--5-6 {
		margin-left: 83.333334%;
	}
	.push-desk--11-12 {
		margin-left: 91.666667%;
	}
}
