//----------------------------------------------------------------------
//	SETTINGS
//	Global
//----------------------------------------------------------------------

//	Typography
//-----------------------------------

//	Type baseline
$doc-font-size: 16; /* 16px */
$doc-line-height: 1.25; /* 20px */

//	Font stacks
$base-font: Times, serif;
$web-font: 'Freight Text', $base-font;
$sans-font: Helvetica, Arial, sans-serif;
$web-font-sans: 'Benton Sans Cond Medium', $sans-font;




//	Animation
//-----------------------------------

//	Transition
$duration: 150ms;
$easing: ease-out;




//	Colors/Themes
//-----------------------------------

$dark-grey: #222;

$blue: #def6ff;
$red: #ea3b37;
$yellow: #ffe566;



//	Responsive
//-----------------------------------

//	Breakpoints (in px)
$lap: 500;
$desk: 800;



//	Grid
//-----------------------------------

//	Gutters (in em)
$gutter-width: 1.25; /* 20px */
