//----------------------------------------------------------------------
//	SETTINGS
//	Global
//----------------------------------------------------------------------

//	Typography
//-----------------------------------

//	Type baseline
$doc-font-size: 16; /* 16px */
$doc-line-height: 1.25; /* 20px */

//	Font stacks
$base-font: Palatino, Georgia, serif;
$web-font: 'Merriweather', $base-font;




//	Animation
//-----------------------------------

//	Transition
$duration: 150ms;
$easing: ease-out;




//	Colors/Themes
//-----------------------------------

$dark-grey: #333;
$light-grey: #e5e5e5;




//	Responsive
//-----------------------------------

//	Breakpoints (in px)
$lap: 500;
$desk: 800;



//	Grid
//-----------------------------------

//	Gutters (in em)
$gutter-width: 1.25; /* 20px */
