.fr-dialogmodal--is-ready {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.fr-dialogmodal--is-ready .fr-dialogmodal-modal {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%); /* Modal blurs when using translate3d */
			transform: translateX(-50%) translateY(-50%); /* Modal blurs when using translate3d */
}

.fr-dialogmodal--is-ready[aria-hidden="true"] {
	visibility: hidden;
}
.fr-dialogmodal--is-ready[aria-hidden="false"] {
	visibility: visible;
}