.fr-dialogmodal--is-ready {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.fr-dialogmodal--is-ready .fr-dialogmodal-modal {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.fr-dialogmodal--is-ready[aria-hidden="true"] {
	visibility: hidden;
}
.fr-dialogmodal--is-ready[aria-hidden="false"] {
	visibility: visible;
}