<!doctype html>
<html class="no-js" lang="en">

<head prefix="og: http://ogp.me/ns">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Component name | Frend</title>
	<link rel="stylesheet" href="/css/dist/global.min.css">
</head>

<body class="site">

	<header class="site-header" role="banner">
		<nav>
			<ul class="nav-primary">
				<li class="nav-primary__list-item">
					<a href="/" class="nav-primary__item">Components</a>
				</li>
				<li class="nav-primary__list-item">
					<a href="/about/" class="nav-primary__item">About</a>
				</li>
			</ul>
		</nav>
	</header>

	<main class="site-main" role="main">

		<section>
			<!-- Codepen embed -->
		</section>

		<h1>Component name</h1>
		<p>Component blurb</p>

	</main>

	<footer class="site-footer">
		<small>&copy; frend.co</small>
	</footer>
</body>

</html>
