<footer class="site-footer">
  <nav class="wrapper">
    <ul class="nav-footer">
      <li class="nav-footer__list-item">
        <a href="/about/" class="nav-footer__item">About Frend</a>
      </li>
      <li class="nav-footer__list-item">
        <a href="https://github.com/frend/frend.co" class="nav-footer__item">Frend on GitHub</a>
      </li>
      <li class="nav-footer__list-item">
        <a href="https://twitter.com/ffffrend" class="nav-footer__item"><span aria-hidden="true">@ffffrend</span><span class="visually-hidden">Frend on Twitter</span></a>
      </li>
    </ul>
  </nav>
</footer>