
/* Functional */
.has-fr-offcanvas .fr-offcanvas {
	position: fixed;
	top: 0;
	left: 100%;
	height: 100%;
	overflow: auto;
	width: 100%;
	transform: translateX(0);
	will-change: translateX;
	z-index: 10;
}