
/*  Panel */
.fr-offcanvas--is-ready {
  background-color: #fff;
  height: 100%;
  left: 100%;
  overflow: auto;
  max-width: 300px;
  position: fixed;
  top: 0;
  transform: translateX(0);
  width: 100%;
  will-change: translateX;
}

/*  Panel - Visible */
.fr-offcanvas--is-ready[aria-hidden="false"] {
  transform: translateX(-100%);
}