
/* Functional */
.has-fr-offcanvas .fr-offcanvas {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	overflow: auto;
	width: 100%;
	transform: translateX(-100%);
	will-change: translateX;
	z-index: 10;
}
.has-fr-offcanvas .fr-offcanvas[aria-hidden="false"] {
	transform: translateX(0);
}

/* Style */
.has-fr-offcanvas .fr-offcanvas {
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	max-width: 400px;
	padding: 20px;
	transition: transform 200ms ease-out;
	outline: none;
}