---
layout: default
---
<section class="component-embed">
	{% include_relative {{ page.filename }}.html %}
</section>

<section class="wrapper">
	<section>
		<h1 class="text-large">{{ page.title }}</h1>
		{{ page.content }}
	</section>
	<aside>
		<ul>
			<li>
				<a href="https://github.com/frend/frend.co/tree/gh-pages/_components/{{ page.filename }}">View on Github</a>
			</li>
		</ul>
	</aside>

	{% if page.links %}
	<h2>Handy links</h2>
	<ul>
		{% for link in page.links %}
		<li><a href="{{link.url}}" title="Opens in new window" target="_blank">{{link.title}}</li>
		{% endfor %}
	</ul>
	{% endif %}

</section>

<script>
	loadCSS('{{ page.filename }}.css');
	loadCSS('/css/syntax.css');
	// {% if page.filename %}
		loadJS('/dist/fr{{ page.filename }}.js', function () {
			var {{ page.filename }} = Fr{{ page.filename }}();
		});
	// {% endif %}
</script>