---
layout: default
---
<section class="component-embed">
	{% include_relative {{ page.filename }}.html %}
</section>

<section class="wrapper">
	<section>
		<h1 class="text-large">{{ page.title }}</h1>
		<p>{{ page.description }}</p>
	</section>
	<aside>
		<ul>
			<li>
				<a href="https://github.com/frend/frend.co/tree/gh-pages/_components/{{ page.filename }}">View on Github</a>
			</li>
		</ul>
	</aside>

	<!-- <h2 class="text-medium">Source code</h2> -->
	<h3 class="text-medium">HTML</h3>
	<div class="component-source">
		{% highlight html %}{% include_relative {{ page.filename }}.html %}{% endhighlight %}
	</div>
	<h3 class="text-medium">CSS</h3>
	<div class="component-source">
		{% highlight css %}{% include_relative {{ page.filename }}.css %}{% endhighlight %}
	</div>
	<h3 class="text-medium">JS</h3>
	<div class="component-source">
		{% highlight js %}{% include_relative {{ page.filename }}.js %}{% endhighlight %}
	</div>
</section>

<script>
	loadCSS('{{ page.filename }}.css');
	loadCSS('/css/syntax.css');
	// {% if page.filename %}
		loadJS('/dist/fr{{ page.filename }}.js', function () {
			var {{ page.filename }} = new Fr{{ page.filename }}();
		});
	// {% endif %}
</script>