
/*	Container */
.js-fr-tooltip {
	position: relative;
}

/*	Toolip */
.js-fr-tooltip [role="tooltip"] {
	bottom: 100%;
	position: absolute;
	visibility: hidden;
}
.js-fr-tooltip [role="tooltip"][aria-hidden="false"] {
	visibility: visible;
}