/*	Container */
.js-fr-tooltip {
	position: relative;
}

/*	Label */
.js-fr-tooltip-toggle {
	cursor: help;
}

/*	Toolip */
.js-fr-tooltip [role="tooltip"] {
	visibility: hidden;
}
.js-fr-tooltip [role="tooltip"][aria-hidden="false"] {
	visibility: visible;
}